[submodule "roles/ansible-virl"]
	path = roles/ansible-virl
	url = https://github.com/rschmied/ansible-virl.git
[submodule "roles/ansible-viptela"]
	path = roles/ansible-viptela
	url = https://github.com/rschmied/ansible-viptela.git
[submodule "roles/ansible-pyats"]
	path = roles/ansible-pyats
	url = https://github.com/rschmied/ansible-pyats.git
